.container {
  background-color: rgba(47, 255, 109, 0);
  display: flex;
  flex-wrap: wrap ;
  justify-content: space-around;
  
}


.App-header{
background-color: rgba(172, 255, 47, 0.178);
min-height: 100vh;
display: flex;
flex-direction: column;
color: white;
} 